<!-- Center Header -->
<div id="center-header">
    <div class="container">
        <div class="header-logo">
            <a href="#" class="logo"><img src="<%= image_path('front/logo.png') %>" alt=""></a>
        </div>
        <div class="header-ads">
            <img class="center-block" src="<%= image_path('front/ad-2.jpg') %>" alt=""> 
        </div>
    </div>
</div>
<!-- /Center Header -->