<%= javascript_pack_tag 'components/admin/groups', defer: true %>
<style>
    group-list {
        margin: 0;
    }
    .component_container {
        padding: 0;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 component_container">
        <group-list dataUrl="/admin/groups"></group-list>
    </div>
</div>