<!-- ##### Big Add Area Start ##### -->
<div class="big-add-area mb-100 wow fadeInUp" data-wow-delay="200ms">
    <div class="container-fluid">
        <a href="#"><img src="<%= image_path('front/bg-img/big-add.png') %>" alt=""></a>
    </div>
</div>
<!-- ##### Big Add Area End ##### -->