<!DOCTYPE html>
<html>
<head>
    <title>Base Framework</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- webcomponents.js (v1 spec polyfills) -->
    <script src="/custom-elements-es5-adapter.js"></script>

    <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
